[submodule "Simple-WebSocket-Server"]
	path = Simple-WebSocket-Server
	url = git@github.com:eidheim/Simple-WebSocket-Server.git
[submodule "cpr"]
	path = cpr
	url = git@github.com:DEGoodmanWilson/cpr.git
[submodule "tests/googletest"]
	path = tests/googletest
	url = git@github.com:google/googletest.git
